body{
    padding:0;
    margin:0;
}

.header-title{
    display:flex;
    justify-content: center;
}

.subtitle{
    display:flex;
    justify-content: center;
}

.table-area{
    display:flex;
    justify-content: center;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
  }

div.dataTables_filter {
    padding: 15px;
  }